html {
  scroll-behavior: smooth;
}

/* Global Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a {
  color: #000;
  text-decoration: none;
}

/* Utils */

.spacer {
  height: 4rem;
}

.container {
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

.clearfix {
  clear: both;
}

/* header */

header {
  min-height: 100vh;
}

header h1 {
  text-align: center;
}

/* Navbar */

.navbar {
  background: #333;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  position: fixed;
}

.branding {
  color: #fff;
  float: left;
  padding-right: 1rem;
  font-size: 26px;
}

.hamburger-menu {
  float: right;
  outline: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  margin-top: -2rem;
  display: none;
}

.main-menu {
  list-style: none;
}

.menu-item {
  padding-left: 1rem;
  padding-top: 0.5rem;
  float: left;
}

.menu-item a {
  color: #ccc;
}

.menu-item a:hover {
  color: #fff;
}

/* Hero */

.hero {
  height: 50vh;
  background-image: url("https://source.unsplash.com/rnr8D3FNUNY");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* About */

#about {
  min-height: 100vh;
  padding-bottom: 2rem;
}

#about h2 {
  padding: 1rem;
  text-align: center;
  font-weight: lighter;
  text-decoration: underline;
}

#about p {
  margin-top: 1rem;
}

/* Contact */

#contact {
  min-height: 100vh;
  background: #000;
  color: #fff;
}

#contact h2 {
  padding: 1rem;
  text-align: center;
  font-weight: lighter;
}

.numbers {
  padding-top: 1rem;
}

.numbers p {
  float: left;
}

.numbers a {
  color: #fff;
  text-decoration: underline;
  float: right;
}

/* Media Queries */

@media (max-width: 768px) {
  .branding {
    text-align: center;
    float: none;
  }

  .hamburger-menu {
    display: inline;
  }

  .main-menu {
    float: right;
    background: #333;
    height: 100vh;
    padding-top: 3rem;
    margin-right: -2.5rem;
    width: 45vw;
    position: relative;
    z-index: -1;
    display: none;
  }

  .menu-item {
    float: none;
  }
}
