/* Global Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a {
  color: #000;
  text-decoration: none;
}

/* Navbar */

.navbar {
  background: #333;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  position: fixed;
}

.branding {
  color: #fff;
  float: left;
  padding-right: 1rem;
  font-size: 26px;
}

.hamburger-menu {
  float: right;
  outline: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  display: none;
}

.main-menu {
  list-style: none;
}

.menu-item {
  padding-left: 1rem;
  padding-top: 0.5rem;
  float: left;
}

.menu-item a {
  color: #ccc;
}

.menu-item a:hover {
  color: #fff;
}

/* Media Queries */

@media (max-width: 768px) {
  .hamburger-menu {
    display: inline;
  }

  .main-menu {
    float: right;
    background: #333;
    height: 100vh;
    padding-top: 3rem;
    margin-right: -2.5rem;
    width: 45vw;
    position: relative;
    z-index: -1;
    display: none;
  }

  .menu-item {
    float: none;
  }
}
